<!-- <h2>Country Dropdown Example</h2>

<select>
  <option *ngFor="let country of dropdownCountries">{{ country }}</option>
</select>

<br /><br />

<button (click)="loadCountries()">Load</button> -->

<!-- <select [(ngModel)]="color">
  <option value="red">Red</option>
  <option value="green">Green</option>
  <option value="blue">Blue</option>
  <option value="black">Black</option>
</select>

<br /><br />
<div
  [style.color]="color"
  style="
    border: 2px solid black;
    padding: 20px;
    width: 250px;
    text-align: center;
  "
>
  <p>This text changes color based on dropdown selection</p>
</div> -->
<!-- Search box -->
<input type="text" [(ngModel)]="searchText" placeholder="Search names..." />

<br /><br />
<select size="5" style="width: 200px">
  <option *ngFor="let name of filteredNames">{{ name }}</option>
</select>
<app-home></app-home>
